/* Page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
div {
    text-align: center;
}
h1, h2, p, a {
    margin: 0;
}

/* Menu */
#barre {
    height: 50px;
}
#barre > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#barre > ul > li {
    float: left;
    border-right:1px solid #bbb;
}
#barre > ul > li:last-child {
    border-right: none;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #3b5998;
  }

#menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* Biorgraphie */
#biographie {
    display: flex;
    flex-direction: row;
    color: black;
    height: 600px;
    justify-content: center;
    align-items: center;  
}
.containerimg > img {
    width: 70%;
    height: auto;
}
.containerimg {
    flex: 0.25;
    margin-top: 100px;
}
.containertxt {
    flex: 0.75;  
}
.containertxt > h3 {
    text-align: justify;
}
.containertext {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containertext > h2, h3 {
    margin-right: 15px;
    margin-left: 15px;
}


/* Linux */
#linux {
    display: flex;
    flex-direction: column;
    color: white;
    height: 150px;
    background-image: url(../img/bg1.png);
    background-position: bottom -400px center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center; 
}
#linux > p {
    font-size: 45px;
    font-style: italic;
}
#linux > h1 {
    font-size: 50px;
}
#linux > h3 {
    margin : 10px;
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: #3b5998;
}

/* Foot */
#foot {
    display: flex;
    flex-direction: column;
    color: black;
    height: 60px;
    justify-content: space-around;
    align-items: center; 
}
